## Part 1: Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np
from tensorflow.keras.models import Model
from tensorflow.keras import layers

#  Import and read the attrition data
attrition_df = pd.read_csv('https://static.bc-edx.com/ai/ail-v-1-0/m19/lms/datasets/attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,Sales,1,2,Life Sciences,2,94,3,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,Research & Development,8,1,Life Sciences,3,61,2,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,Research & Development,2,2,Other,4,92,2,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,Research & Development,3,4,Life Sciences,4,56,3,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,Research & Development,2,1,Medical,1,40,3,...,3,4,1,6,3,3,2,2,2,2

In [2]:
# Determine the number of unique values in each column
attrition_df.nunique()

Age                         43
Attrition                    2
BusinessTravel               3
Department                   3
DistanceFromHome            29
Education                    5
EducationField               6
EnvironmentSatisfaction      4
HourlyRate                  71
JobInvolvement               4
JobLevel                     5
JobRole                      9
JobSatisfaction              4
MaritalStatus                3
NumCompaniesWorked          10
OverTime                     2
PercentSalaryHike           15
PerformanceRating            2
RelationshipSatisfaction     4
StockOptionLevel             4
TotalWorkingYears           40
TrainingTimesLastYear        7
WorkLifeBalance              4
YearsAtCompany              37
YearsInCurrentRole          19
YearsSinceLastPromotion     16
YearsWithCurrManager        18
dtype: int64

In [3]:
# Create y_df with the Attrition and Department columns
y_df = attrition_df [['Attrition','Department']]
y_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Attrition   1470 non-null   object
 1   Department  1470 non-null   object
dtypes: object(2)
memory usage: 23.1+ KB

In [4]:
# Create a list of at least 10 column names to use as X data
x_columns = ['Education', 'Age', 'DistanceFromHome', 'JobSatisfaction', 'OverTime', 
             'StockOptionLevel', 'WorkLifeBalance', 'YearsAtCompany', 
             'YearsSinceLastPromotion', 'NumCompaniesWorked']

# Create X_df using your selected columns
X_df = attrition_df[x_columns]

# Show the data types for X_df
X_df

,Education,Age,DistanceFromHome,JobSatisfaction,OverTime,StockOptionLevel,WorkLifeBalance,YearsAtCompany,YearsSinceLastPromotion,NumCompaniesWorked
0,2,41,1,4,Yes,0,1,6,0,8
1,1,49,8,2,No,1,3,10,1,1
2,2,37,2,3,Yes,0,3,0,0,6
3,4,33,3,3,Yes,0,3,8,3,1
4,1,27,2,2,No,1,3,2,2,9
...,...,...,...,...,...,...,...,...,...,...
1465,2,36,23,4,No,1,3,5,0,4
1466,1,39,6,1,No,1,3,7,1,4
1467,3,27,4,2,Yes,1,3,6,0,1
1468,3,49,2,2,No,0,2,9,0,2
1469,3,34,8,3,No,0,4,4,1,2

In [5]:
X = X_df
y1_df = attrition_df [['Attrition']].copy()
y2_df = attrition_df [['Department']].copy()

y1 = y1_df
y2 = y2_df

In [6]:
y1_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Attrition  1470 non-null   object
dtypes: object(1)
memory usage: 11.6+ KB

In [7]:
# Split the data into training and testing sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_Attrition_train, y_Attrition_test, y_Department_train, y_Department_test = train_test_split(X, y1, y2, test_size=0.23, random_state=42)

In [8]:
# Convert your X data to numeric data types however you see fit
# Add new code cells as necessary
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
OverTime_encoder = LabelEncoder()
X_train['OverTime_encoded'] = OverTime_encoder.fit_transform(X_train['OverTime'])
X_train =  X_train.drop(columns='OverTime')
X_train['OverTime_encoded'].value_counts()

OverTime_encoded
0    800
1    331
Name: count, dtype: int64

In [9]:
OverTime_encoder = LabelEncoder()
X_test['OverTime_encoded'] = OverTime_encoder.fit_transform(X_test['OverTime'])
X_test =  X_test.drop(columns='OverTime')
X_test['OverTime_encoded'].value_counts()

OverTime_encoded
0    254
1     85
Name: count, dtype: int64

In [10]:
# Create a StandardScaler
x_scaler = StandardScaler()

# Fit the StandardScaler to the training data
x_scaler.fit(X_train)

# Scale the training and testing data
X_train_scaled = x_scaler.transform(X_train)
X_test_scaled = x_scaler.transform(X_test)

In [11]:
y1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Attrition  1470 non-null   object
dtypes: object(1)
memory usage: 11.6+ KB

In [12]:
y_Department_train

                  Department
83    Research & Development
1309                   Sales
48                     Sales
155   Research & Development
594   Research & Development
...                      ...
1130  Research & Development
1294  Research & Development
860   Research & Development
1459  Research & Development
1126                   Sales

[1131 rows x 1 columns]

In [13]:
Department_encoder = OneHotEncoder(sparse_output=False)
Department_encoded = Department_encoder.fit_transform(y_Department_train[['Department']])  
Department_columns = Department_encoder.get_feature_names_out(['Department'])
y_train_department_encoded = pd.DataFrame(Department_encoded, columns=Department_columns)
y_train_department_encoded

,Department_Human Resources,Department_Research & Development,Department_Sales
0,0.0,1.0,0.0
1,0.0,0.0,1.0
2,0.0,0.0,1.0
3,0.0,1.0,0.0
4,0.0,1.0,0.0
...,...,...,...
1126,0.0,1.0,0.0
1127,0.0,1.0,0.0
1128,0.0,1.0,0.0
1129,0.0,1.0,0.0
1130,0.0,0.0,1.0

In [14]:
from sklearn.preprocessing import OneHotEncoder

# Create a OneHotEncoder for the Department column
Department_encoder = OneHotEncoder(sparse_output=False)


# Fit the encoder to the training data
Department_encoded = Department_encoder.fit_transform(y_Department_train[['Department']])
Department_test_encoded = Department_encoder.fit_transform(y_Department_test[['Department']])



# Create two new variables by applying the encoder
# to the training and testing data
Department_columns = Department_encoder.get_feature_names_out(['Department'])
y_train_department_encoded = pd.DataFrame(Department_encoded, columns=Department_columns)
y_test_department_encoded  = pd.DataFrame(Department_test_encoded, columns=Department_columns)
#print (y_train_department_encoded)
y_test_department_encoded

,Department_Human Resources,Department_Research & Development,Department_Sales
0,0.0,0.0,1.0
1,0.0,1.0,0.0
2,1.0,0.0,0.0
3,0.0,1.0,0.0
4,0.0,1.0,0.0
...,...,...,...
334,0.0,1.0,0.0
335,0.0,1.0,0.0
336,0.0,0.0,1.0
337,0.0,0.0,1.0
338,0.0,1.0,0.0

In [15]:
# Create a OneHotEncoder for the Attrition column
Attrition_encoder = OneHotEncoder(sparse_output=False)


# Fit the encoder to the training data
Attrition_train_encoded = Attrition_encoder.fit_transform(y_Attrition_train[['Attrition']])
Attrition_test_encoded = Attrition_encoder.fit_transform(y_Attrition_test[['Attrition']])

# Create two new variables by applying the encoder
# to the training and testing data
Attrition_columns = Attrition_encoder.get_feature_names_out(['Attrition'])
y_train_Attrition_encoded = pd.DataFrame(Attrition_train_encoded, columns=Attrition_columns)
y_test_Attrition_encoded  = pd.DataFrame(Attrition_test_encoded, columns=Attrition_columns)
print (y_train_Attrition_encoded)
y_test_Attrition_encoded

      Attrition_No  Attrition_Yes
0              1.0            0.0
1              1.0            0.0
2              1.0            0.0
3              1.0            0.0
4              1.0            0.0
...            ...            ...
1126           1.0            0.0
1127           1.0            0.0
1128           0.0            1.0
1129           1.0            0.0
1130           1.0            0.0

[1131 rows x 2 columns]

     Attrition_No  Attrition_Yes
0             1.0            0.0
1             1.0            0.0
2             0.0            1.0
3             1.0            0.0
4             1.0            0.0
..            ...            ...
334           1.0            0.0
335           0.0            1.0
336           1.0            0.0
337           1.0            0.0
338           1.0            0.0

[339 rows x 2 columns]

## Part 2: Create, Compile, and Train the Model

In [16]:
# Find the number of columns in the X training data.
X_lenght_column = len(X_train.columns)
X_lenght_column
col_len =X_train.shape[1]


# Create the input layer
input_layer = layers.Input(shape=(col_len,), name='input_features')


# Create at least two shared layers
shared_layer1 = layers.Dense(64, activation='relu')(input_layer)
shared_layer2 = layers.Dense(128, activation='relu')(shared_layer1)
dropout_layer = layers.Dropout(0.2)(shared_layer2)

In [17]:
# Create a branch for Department
# with a hidden layer and an output layer

# Create the hidden layer
additional_hidden_layer = layers.Dense(32, activation='relu')(shared_layer2)

# Create the output layer
Department_output = layers.Dense(3, activation='sigmoid', name='Department_output')(additional_hidden_layer)
Department_output

In [18]:
# Create a branch for Attrition
# with a hidden layer and an output layer

# Create the hidden layer
additional_hidden_layer2 = layers.Dense(32, activation='relu')(dropout_layer)

# Create the output layer
Attrition_output = layers.Dense(2, activation='sigmoid', name='Attrition_output')(additional_hidden_layer2)

In [19]:
# Create the model
model = Model(inputs=input_layer, outputs=[Department_output, Attrition_output])

# Compile the model
model.compile(optimizer='RMSprop',
              loss={'Department_output': 'binary_crossentropy', 'Attrition_output': 'binary_crossentropy'},
              metrics={'Department_output': 'accuracy', 'Attrition_output': 'accuracy'})

# Summarize the model
model.summary()

Model: "functional"

┏━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━┓
┃ Layer (type)        ┃ Output Shape      ┃    Param # ┃ Connected to      ┃
┡━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━┩
│ input_features      │ (None, 10)        │          0 │ -                 │
│ (InputLayer)        │                   │            │                   │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ dense (Dense)       │ (None, 64)        │        704 │ input_features[0… │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ dense_1 (Dense)     │ (None, 128)       │      8,320 │ dense[0][0]       │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ dropout (Dropout)   │ (None, 128)       │          0 │ dense_1[0][0]     │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ dense_2 (Dense)     │ (None, 32)        │      4,128 │ dense_1[0][0]     │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ dense_3 (Dense)     │ (None, 32)        │      4,128 │ dropout[0][0]     │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ Department_output   │ (None, 3)         │         99 │ dense_2[0][0]     │
│ (Dense)             │                   │            │                   │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ Attrition_output    │ (None, 2)         │         66 │ dense_3[0][0]     │
│ (Dense)             │                   │            │                   │
└─────────────────────┴───────────────────┴────────────┴───────────────────┘

 Total params: 17,445 (68.14 KB)

 Trainable params: 17,445 (68.14 KB)

 Non-trainable params: 0 (0.00 B)

In [ ]:
# Train the model
model.fit(
    X_train,
    {'Department_output': y_train_department_encoded, 'Attrition_output': y_train_Attrition_encoded},
    epochs=10
)

Epoch 1/20
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - Attrition_output_accuracy: 0.8388 - Attrition_output_loss: 0.3924 - Department_output_accuracy: 0.6668 - Department_output_loss: 0.4795 - loss: 0.8720
Epoch 2/20
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - Attrition_output_accuracy: 0.8449 - Attrition_output_loss: 0.3869 - Department_output_accuracy: 0.6334 - Department_output_loss: 0.4869 - loss: 0.8738
Epoch 3/20
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - Attrition_output_accuracy: 0.8431 - Attrition_output_loss: 0.3927 - Department_output_accuracy: 0.6458 - Department_output_loss: 0.4813 - loss: 0.8740
Epoch 4/20
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - Attrition_output_accuracy: 0.8373 - Attrition_output_loss: 0.4132 - Department_output_accuracy: 0.6615 - Department_output_loss: 0.4780 - loss: 0.8912
Epoch 5/20
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - Attrition_output_accuracy: 0.8391 - Attrition_output_loss: 0.4027 - Department_output_accuracy: 0.6599 - Department_output_loss: 0.4824 - loss: 0.8853
Epoch 6/20
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - Attrition_output_accuracy: 0.8237 - Attrition_output_loss: 0.4196 - Department_output_accuracy: 0.6617 - Department_output_loss: 0.4645 - loss: 0.8838
Epoch 7/20
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - Attrition_output_accuracy: 0.8460 - Attrition_output_loss: 0.3904 - Department_output_accuracy: 0.6407 - Department_output_loss: 0.4856 - loss: 0.8760
Epoch 8/20
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - Attrition_output_accuracy: 0.8548 - Attrition_output_loss: 0.3579 - Department_output_accuracy: 0.6665 - Department_output_loss: 0.4660 - loss: 0.8237
Epoch 9/20
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - Attrition_output_accuracy: 0.8512 - Attrition_output_loss: 0.3700 - Department_output_accuracy: 0.6604 - Department_output_loss: 0.4723 - loss: 0.8426
Epoch 10/20
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - Attrition_output_accuracy: 0.8623 - Attrition_output_loss: 0.3508 - Department_output_accuracy: 0.6532 - Department_output_loss: 0.4718 - loss: 0.8222
Epoch 11/20
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - Attrition_output_accuracy: 0.8489 - Attrition_output_loss: 0.3744 - Department_output_accuracy: 0.6798 - Department_output_loss: 0.4653 - loss: 0.8400
Epoch 12/20
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - Attrition_output_accuracy: 0.8381 - Attrition_output_loss: 0.3881 - Department_output_accuracy: 0.6417 - Department_output_loss: 0.4815 - loss: 0.8698
Epoch 13/20
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - Attrition_output_accuracy: 0.8515 - Attrition_output_loss: 0.3843 - Department_output_accuracy: 0.6601 - Department_output_loss: 0.4661 - loss: 0.8507
Epoch 14/20
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - Attrition_output_accuracy: 0.8327 - Attrition_output_loss: 0.3914 - Department_output_accuracy: 0.6479 - Department_output_loss: 0.4681 - loss: 0.8597
Epoch 15/20
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - Attrition_output_accuracy: 0.8554 - Attrition_output_loss: 0.3751 - Department_output_accuracy: 0.6414 - Department_output_loss: 0.4849 - loss: 0.8602
Epoch 16/20
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - Attrition_output_accuracy: 0.8506 - Attrition_output_loss: 0.3760 - Department_output_accuracy: 0.6326 - Department_output_loss: 0.4746 - loss: 0.8501
Epoch 17/20
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - Attrition_output_accuracy: 0.8482 - Attrition_output_loss: 0.3694 - Department_output_accuracy: 0.6612 - Department_output_loss: 0.4712 - loss: 0.8406
Epoch 18/20
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - Attrition_output_accuracy: 0.8452 - Attrition_output_loss: 0.3758 - Department_output_accuracy: 0.6554 - Department_output_loss: 0.4783 - loss: 0.8542
Epoch 19/20
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - Attrition_output_accuracy: 0.8685 - Attrition_output_loss: 0.3510 - Department_output_accuracy: 0.6651 - Department_output_loss: 0.4713 - loss: 0.8224
Epoch 20/20
36/36 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - Attrition_output_accuracy: 0.8397 - Attrition_output_loss: 0.3809 - Department_output_accuracy: 0.6497 - Department_output_loss: 0.4673 - loss: 0.8479

In [25]:
# Evaluate the model with the testing data
test_results = model.evaluate(X_test, {'Department_output': y_test_department_encoded, 'Attrition_output': y_test_Attrition_encoded})
test_results

11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - Attrition_output_accuracy: 0.8577 - Attrition_output_loss: 0.3942 - Department_output_accuracy: 0.6499 - Department_output_loss: 0.4997 - loss: 0.8948

[0.8847557306289673,
 0.4894762337207794,
 0.39014577865600586,
 0.8525073528289795,
 0.6578171253204346]

In [26]:
# Print the accuracy for both department and attrition
print(f"Department Accuracy: {test_results[4]}")
print(f"Attrition Accuracy: {test_results[3]}")

Department Accuracy: 0.6578171253204346
Attrition Accuracy: 0.8525073528289795

# Summary

In the provided space below, briefly answer the following questions.

1. Is accuracy the best metric to use on this data? Why or why not?

2. What activation functions did you choose for your output layers, and why?

3. Can you name a few ways that this model might be improved?

YOUR ANSWERS HERE

1. for department of if weak estimation but the first one attrition got good estimate
2. I used Softmax for the output layer thinking we have 3 different out put answer 
OneHotEncoder split 3 different outpput but the result is still biniary so I change to back to symoid
3.  I see a little different changing below infos
   Changed number of neurons 
   added a dropout layer .10
   change optimizier